::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb {
    background: #34668f; 
    border-radius: 100px;
    transition: 0.5s;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #285070; 
    border-radius: 100px;
    transition: 0.5s;
  }
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #AFF7F0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    min-width: 500px;
    height: 90vh;
    box-shadow: 1px 1px #bbb;
    background-color: #7735bd;
    padding: 30px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    font-family: sans-serif;
}
.userpass{
    margin-top: 200px;
}
.switch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.list li{
    margin-left: 30px;
    margin-top: 10px;
}