body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #AFF7F0;
}
.index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 90vh;
    box-shadow: 1px 1px #bbb;
    background-color: #7735bd;
    padding: 30px;
    border-radius: 10px;
}
.row{
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.switch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.list li{
    margin-left: 30px;
    margin-top: 10px;
}