body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #AFF7F0;
}
.index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 90vh;
    box-shadow: 1px 1px #bbb;
    background-color: #7735bd;
    padding: 30px;
    border-radius: 10px;
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.switch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}